[Unit]
Description=Palworld Dedicated Server by Mayfries
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/podman run -dit -p 8211:8211/udp -v .:/usr/lib/palserver -v /var/lib/palserver/mount:/var/lib/palserver -v /var/log/palserver:/var/log/palserver --name palserver palserver
ExecStop=/usr/bin/podman stop palserver
ExecStopPost=/usr/bin/podman rm -f palserver
Restart=always

[Install]
WantedBy=multi-user.target