[Unit]
Description=Palworld Dedicated Server by Mayfries
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f /var/lib/palserver/palserver.ctr-id
ExecStart=/usr/bin/podman run --cidfile=/var/lib/palserver/palserver.ctr-id --cgroups=no-conmon --rm --sdnotify=conmon --oom-score-adj=200 --replace -dit -p 8211:8211/udp -p 25575:25575/tcp -v /usr/lib/palserver:/usr/lib/palserver -v /var/lib/palserver/mount:/var/lib/palserver -v /var/log/palserver:/var/log/palserver --name palserver palserver
ExecStop=/usr/bin/podman stop --ignore --cidfile=/var/lib/palserver/palserver.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=/var/lib/palserver/palserver.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target